.arenaHighlight {
  width: 33%;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}
.arenaTitle {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.channelLink {
  text-decoration: none;
  color: black;
  padding: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.channel {
  border: 1px solid black;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  padding: 6px;
  padding-bottom: 8px;
}

.channel:hover {
  background-color: yellow;
}

.channelList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  .arenaHighlight {
    border-top: 1px solid black;
    width: 100%;
  }

  .arenaTitle {
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  .channel {
    width: initial;
  }
}
