.arenaHighlight {
  width: 33%;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}
.arenaTitle {
  padding: 10px 0px;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 14px;
}

.channelLink {
  border: 1px solid black;
  margin: auto;
  width: 80%;
  text-decoration: none;
  /* color: black; */
  padding: 7px 12px;
  margin-bottom: 10px;
}

.channelLink:hover {
  color: white;
  background-color: black;
}

.channel {
  border: 1px solid black;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  padding: 6px;
  padding-bottom: 8px;
}

.channel:hover {
  background-color: black;
  color: rgb(255, 255, 255);
}

.channelList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  .arenaHighlight {
    border-top: 1px solid black;
    width: 100%;
  }

  .channel {
    width: initial;
  }
}
