.meBox {
  width: 33%;
  border-right: 1px solid black;
  align-items: center;
  color: white;
  height: 232px;
}

.title {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 24px;
  position: absolute;
  top: 0px;
  left: 00px;
  background-color: black;
}

.imgDiv {
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: center;

  position: relative;
  top: 0px;
  left: 0px;

  background: url("https://github.com/trudypainter/trudy-computer-react/blob/main/thumbnails/beachwalking.png?raw=true");
  background-size: cover;
  background-position: center;
}

.meImg {
  visibility: visible;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  .meBox {
    width: 50%;
  }
}
