.projectItem {
  width: 33%;
  border-left: 1px solid black;
  transform: translateX(-1px);
  padding: 10px;
}

.thumbnail {
  height: 100px;
}

.subtitle {
  font-style: italic;
}

.thumbImg {
  position: relative;
  height: 100px;
}

.tags {
  position: absolute;
  bottom: 10px;
  font-style: italic;
}

.more {
  position: absolute;
  bottom: 12px;
  right: 10px;
  padding: 8px;
  border: 1px solid black;
  color: black;
}

.more:hover {
  cursor: pointer;
  background-color: yellow;
}
