.projectBox {
  margin-top: 20px;

  margin-left: auto;
  margin-right: auto;

  padding: 0px 4px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 800px;
}

.projectBox > div {
  margin: 4px;
}

@media only screen and (max-width: 810px) {
  /* For mobile phones: */
  .projectBox {
    width: initial;
    /* margin: 10px; */
  }
}
