.projectBox {
  margin: auto;
  margin-top: 20px;
  padding: 0px;
  border: 1px solid black;
  background-color: white;

  display: flex;
  flex-wrap: wrap;

  max-width: 800px;
}

@media only screen and (max-width: 810px) {
  /* For mobile phones: */
  .projectBox {
    width: initial;
    margin: 10px;
  }
}
